<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <!-- to use the latest rendering engine in case it doesn't-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Adjusts the viewport and the scale of the browser -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <!-- Bootstrap CDN in order to have support for Bootstrap's CSS and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- in order to include tether for BS 4 -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <link rel="stylesheet" href="signin.css" />
    <title>Send an incident</title>

</head>

<body>

    <!-- container class in order to tell BS to treat it as a container and it is usually container -->
    <div class="container">
        <form action="#" th:action="@{/send}" id="incidencia" class="form-signin" method="post" th:object="${incident}">
          <h2>Incidence Information</h2>
          <div th:if="${error}" class="text-danger">
                        <p>The tags, multimedia or properties field has some errors. Check the formats and try again</p>
                </div>
                <div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name"
							required="true" />
					</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-2" for="description">Description:</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control" name="description"
							required="true" />
					</div>
				</div>
				<p>	(compulsory format:tag1,tag2,tag3,etc)</p>
				<div class="form-group">
				<label class="control-label col-sm-2" for="tags">Tags:</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control" name="tags" />
					</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-2" for="lat">Lattitude:</label> 
					<div class="col-sm-10">
						<input type="number" step=".01" class="form-control" name="lat"
							required="true" />
					</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-2" for="lon">Longitude:</label> 
					<div class="col-sm-10">
						<input type="number" step=".01" class="form-control" name="lon"
							required="true" />
					</div>
				</div>
				<!--
				<div class="form-group">
					<label class="control-label col-sm-2" for="multimedia">Multimedia:</label>
						<div class="col-sm-10">
							<input type="file" class="custom-file-input" name="multimedia" />
						</div>
				</div> -->
				<p> (compulsory format:m1,m2,m3,etc)</p>
				<div class="form-group">
				<label class="control-label col-sm-2" for="multimedia">Multimedia:</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control" name="multimedia"/>
					</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-2" for="type">Tipo del incidente:</label> 
				<select name="type" class="form-control" >
        				<option value="FIREMAN">Fireman</option>
        				<option value="POLICE">Police</option>
        				<option value="RESCUE">Rescue</option>
        				<option value="MEDIC">Medic</option>
      			</select>
      			</div>
				<div class="form-group">
				<p>(compulsory format->prop1:value,prop2:value)</p>
				<label class="control-label col-sm-2" for="properties">Properties:</label> 
					<div class="col-sm-10">
						<input type="text" class="form-control" name="properties"
							 />
					</div>
				</div>
                <button id="Enter" name="Enter" type="submit" value="enter" class="btn btn-block btn-primary btn-lg">Send incidence</button>
        </form>

    </div>

</body>

</html>
